:root{
    --blue: #256eb1;
    --black_blue : #0a3964;
}

body{
    font-family: "Arial";
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none; /* Supprime les puces */
}

.container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    margin : 0;
    padding: 0;

}
.left {
    background: #256eb1;
    color: white;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligner les éléments enfants sur l'axe horizontal */
}

.left ul li {
    margin-bottom: 3vh;
    display: flex; /* Ajout de flexbox pour aligner les images et le texte */
    align-items: center; /* Aligner les éléments enfants sur l'axe vertical */
    width: 9vw;
    font-size: 16px;
    font-weight: bold;
    height: 4vh;
    cursor: pointer;
    transition: text-decoration 0.5s ease;
}

.left ul li img {
    margin-right: 10px; /* Ajouter un espace entre l'image et le texte */
    height: 30px; /* Ajuster la hauteur de l'image selon vos besoins */
    width: 35px;
}

.left ul li:hover{
    text-decoration: underline;

}



.top img {
    width: 135px; /* Ajustez la largeur de l'image selon vos besoins */
    margin-right: 20px; /* Espacement entre l'image et le texte */
    height: 88px;
}

.top h1 {
    color: white;
    margin: 0 0 0 5vw;
    text-align: center;
    flex-grow: 1; /* Permet au titre de s'étendre autant que possible */
    font-family: "Arial Black";
}

.right{
    width: 90vw;
    height: 100vh;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 20px 0;
    background: var(--blue);
    height: 6vh;
}

.top button{
    width: 8vw;
    background: var(--black_blue);
    color : white;
    margin-top : 1vh;
    height: 4vh;
    margin-right: 1vw;
    border-right: 10px;
    text-align: center;
    font-size : 14px;
    font-weight: bold;
    border-radius: 8px;
    border: solid var(--black_blue);
}

.fenetre{
    max-height: 80vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin: 3vh auto;
}
.patient {
    width: 80vw;
    height: 5vh;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
}

.patient form {
    display: flex;
    justify-content: center;
    align-items: center; /* Pour centrer verticalement les éléments */
}

.patient form label {
    font-size: 25px;
    font-weight: 1000;
}

.patient form select {
    width: 12vw;
    height: 4vh;
    background : ghostwhite;
    margin-left: 10px; /* Ajoutez un espacement entre le label et le select si nécessaire */
    font-size: 16px;
    font-weight: bold;
}


.menu ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
}

.menu ul li{
    width: 5.5vw;
    background: #3c7cb6;
    border: solid 2px var(--blue);
    text-align: center;
    font-weight: bold;
}

.menu ul li a{
    text-decoration: none;
    color : white;
}

#selected{
    background: var(--blue);
    border: solid 2px var(--blue);
}

.patient_content{
    width: 80vw;
    height: 60vh;
    padding-bottom: 2vh;
    margin-bottom: 0;
    background: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
}



.footer{
    background: var(--blue);
    width: 30vw;
    display: flex;
    flex-direction: column;
    margin: 1vh auto 0 auto;
    text-align: center;
    border-radius: 16px;
}

.footer p {
    text-align: center;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.bilan{
    display: flex;
    flex-direction: column;
}

.rdv {
    width: 30vw;
    display: flex;
    flex-direction: row;
    align-items: center; /* Aligner les éléments sur l'axe vertical */
    justify-content: center; /* Aligner les éléments sur l'axe horizontal */
    margin: auto;
    height: 5vh;
}

.rdv label {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-right: 1vw;
}

.rdv input[type="text"] {
    width: 14vw;
    border: 1px solid var(--black_blue);
    border-radius: 5px;
    font-family: "Arial";
    height: 3.5vh;
    font-weight: bold;
}


.rdv_button{
    margin-top : 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.audio{
    margin-right: 5vw;
}

.audio button{
    background: transparent;
    border: none;
    color: black;
    font-size: 20px;
}

.import{
    margin-left: 5vw;
}

.import button{
    background: transparent;
    border: none;
    color: black;
    font-size: 20px;
    margin-left: 0.25vw;
}

.bilan_text textarea{
    background: white;
    margin: 2vh auto 0 auto;
    display: flex;
    height: 35vh;
    width: 60vw;
    font-size: 16px;
    font-family: "Arial";
}

.enregistrer{
    margin-top: 1vh;
}

.enregistrer button{
    display: flex;
    margin: auto ;
    width: auto;
    color: white;
    background: var(--black_blue);
    border: solid var(--black_blue);
    padding : 6px 12px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
}

.enregistrer button span{
    text-align: center;
}

.flex-container {
    display: flex;
    margin: 0 2vw;
    flex-wrap: wrap;
    background: white ;
    justify-content: center;
    height: 56vh;
}

.item {
    flex: 0 0 42%; /* Chaque élément occupera 42% de la largeur du conteneur parent */
    box-sizing: border-box; /* Pour inclure les bordures et le padding dans la largeur spécifiée */
   /* Juste pour la décoration, vous pouvez le modifier ou le supprimer selon vos besoins */
    margin-left: 2vw;
    margin-top: 1vh;
    max-height: 27vh;
    overflow: hidden; /* Cacher le texte qui déborde */
    overflow-y: auto;
}

.item.titre {
    border: solid 1px black;
    margin: 0;
    padding: 0;
    width: 14vw;
    height: 4vh;
    text-align: center;
}

.item.titre h3 {
    font-size: 16px;
    padding: 0;
    margin-top: 0.5vh;
    text-overflow: ellipsis; /* Ajouter des points de suspension (...) si le texte déborde */
    white-space: nowrap; /* Empêcher le texte de passer à la ligne */
    overflow: hidden; /* Cacher le texte qui déborde */
}

.item ul{
    list-style-type: circle;

}

.question_info{
    margin-left: 5vw;
    font-size: 20px;
}

.question_info h3{
    font-weight: bold;
    color: white;
}

.question, .reponse{
    width: 60vw;
    background: white;
    margin-left: 5vw;
    padding: 16px;
    display: flex;
    flex-direction: column;
    height: 15vh;
}

.question label,
.reponse label{
    font-size: 16px;
    font-weight: bold;

}

.question textarea,
.reponse textarea{
        height: 14vh;
    border: none;
}

.reponse{
    margin-top : 3vh;
}

.content_question,
.content_reponse{
    display: flex;
    flex-direction: row;
}

.content_question button,
.content_question input[type="submit"],
.content_reponse button{
    height: 3vh;
    margin-top: 10vh;
    background: transparent;
    border: none;
    color: white;
    margin-left: 0.5vw;

}

.histo_rdv{
    display: flex;
    flex-direction: column;
    width: 70vw;
    max-height: 25vh;
    background: white;
    margin-left: 3vw;
    margin-top: 3vh;
    margin-bottom: 2vh;
    padding : 0 16px;
    padding-bottom: 2vh;
    overflow-y: auto;
}

.histo_rdv button{
    background: darkgreen;
    color: white;
    border: none;
    align-self: flex-end;
    padding: 8px;
}

.icone{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.import .icone{
    width: 45px;
    height: 45px;
}

button .icone{
    width: 40px;
    height: 40px;

}

.connection{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.left_connection{
    width: 70%;
    height: 100vh;
}

.left_connection img{
    width: 70vw;
    height: 100vh;
}

.right_connection{
    width: 30%;
    display: flex;
}

.form_connection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.form_connection h1{
    text-align: center;
    font-size: 30px;
}

.form_connection form{
    display: flex;
    flex-direction: column;
}

.form_connection form label{
    margin-bottom: 0.25vw;
}

.form_connection form input[type="text"],
.form_connection form input[type="password"]{
    margin-bottom: 3vh;
    width: 20vw;
    background: lightgray;
    height: 3vh;
    color: black;
    border-radius: 10px;
    font-family: "Arial";
}


.form_connection form input[type="submit"]
{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 10vw;
    text-align: center;
    background  : lightgray;
    height: 4vh;
    padding: 8px 5px;
    color: black;
    border-radius: 10px;
}

.button_hover {
    transition: background 0.5s ease, border 0.5s ease;
}

.button_hover:hover {
    background: #1e5aa8;
    border : solid #1e5aa8;
}









